<div class="dashboard-container">
    <div class="panel workers-panel">
        <app-workers-list [workers]="workers" (workerSelected)="getFlightsByWorker($event)"
            *ngIf="workers$ | async as workers; else loadingTemplate"></app-workers-list>
    </div>

    <div class="panel flights-panel">
        <app-flights-list [flights]="flights"
            *ngIf="flights$ | async as flights; else loadingTemplate"></app-flights-list>
    </div>

    <div class="panel flight-info-panel">
        <app-flight-info [flight]="selectedFlight" *ngIf="selectedFlight$ | async as selectedFlight; else loadingTemplate"></app-flight-info>
    </div>
</div>

<ng-template #loadingTemplate>
    <app-loading-template [loadingText]="'Loading flight, please wait'">
    </app-loading-template>
</ng-template>