<div class="flights-table" *ngIf="flights?.length; else loadingTemplate">
    <div class="flights-header">
        <div>Flight Number</div>
        <div>Origin</div>
        <div>Origin Date</div>
        <div>Destination</div>
        <div>Destination Date</div>
    </div>

    <div *ngFor="let flight of flights" class="flight-row" (click)="selectFlight(flight.num)">
        <div>{{ flight.num }}</div>
        <div>{{ flight.from }}</div>
        <div>{{ flight.from_date }}</div>
        <div>{{ flight.to }}</div>
        <div>{{ flight.to_date }}</div>
    </div>
</div>

<ng-template #loadingTemplate>
    <app-loading-template [loadingText]="'Loading flights...'">
    </app-loading-template>
  </ng-template>